/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/app/Http/Controllers/ManajemenMataKuliahController.php
SIAP_ITK.zip
storage/logs/laravel.log
storage/logs/laravel.log
*.log
*.log
storage/logs/laravel.log
*.log
*.log
.idea/php.xml
storage/logs/laravel.log
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
storage/logs/laravel.log
storage/framework/views/e6be483fa2ea49bf87a1d201945113f33bc23ca9.php
storage/framework/views/75780686cde1ba05829b0ecef4aba631affe4b01.php
